/*
  This file should be used for general styling that will be applied on every page.
  If the stying only applies to elements that only appear on specific pages or a 
  single component/group of related components (e.g. nav) then consider creating
  a separate css document and importing it below.
*/

@import "nav.css";
@import "item.css";
@import "comparison.css";
@import "bar_graph.css";
@import "percentage_circle.css";
@import "page_top.css";

body {
  padding-top: 80px;
}

/* at the Bootstrap lg breakpoint add padding to the bottom of the body
   to prevent the bottom-nav from overlapping the content */
@media screen and (max-width: 992px) {
  body {
    padding-bottom: 80px;
  }
}