{% extends "base.html" %}

{% block title %}Change Email{% endblock %}

{% block content %}
<div class="page-content container-fluid">
    <div class="row justify-content-center mt-3">
        <div class = "card w-100" style ="max-width: 800px; max-height: 800px ; margin: 20px;">
            <h3 class="text-center">My Email</h3>
            <div class="mb-3">
                <label class="form-label">Current Email</label>
                <input type="text" class="form-control" value="{{ current_user.email }}" readonly>
            </div>
            <form action="{{ url_for('main.change_email') }}" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}

                    <div id="email-feedback" class="feedback-message small" style="min-height: 20px;"></div>
                {{ form.submit(class="btn btn-success w-100") }}
                <a href="{{ url_for('main.account_settings') }}" class="btn btn-secondary w-100 mt-2">Cancel</a>
            </form>
        </div>

{% endblock %}