{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="page-content container-fluid">
    <div class="row justify-content-center mt-3">
        <div class = "card w-100" style ="max-width: 800px; max-height: 800px ; margin: 20px;">
            <h3 class="text-center">My Password</h3>
            <form action="{{ url_for('change_password') }}" method="POST">
                <div class="mb-3">
                    <label for="password" class="form-label">Current Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your current password" required>
                </div>
                <div class="mb-3">
                    <label for="new_password" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter your new password" required>
                </div>
                <div class="mb-3">
                    <label for="confirm_new_password" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" placeholder="Confirm your new password" required>
                </div>
                <button type="submit" class="btn btn-success w-100">Confirm</button>
                <a href="{{ url_for('account') }}" class="btn btn-secondary w-100 mt-2">Cancel</a>
            </form>
        </div>
{% endblock %}