{% extends "base.html" %}

{% block content %}
<div class="page-top container-fluid">
  <div class="row justify-content-center">
    <div class="col col-lg-9 col-xxl-6"> 
      <ul class="tab-nav nav nav-underline nav-justified">
        <li class="nav-item">
          <a class="nav-link active" href="/compare_scores" aria-current="page">Scores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/compare_stats" >Stats</a>
        </li>
      </ul>
      <div class="friend-select-group input-group">
        <label class="input-group-text" for="friend-select">View Friend</label>
        <select class="form-select" id="friend-select">
          {% if friends == [] %}
            <option value="None">No friends</option>
          {% else %}
            {% for friend in friends %}
            <option value="{{ friend.user_id }}">{{ friend.username }}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>
      <div class="search-bar input-group">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
        <input type="text" class="form-control" id="search-bar-input" placeholder="Search for something...">
      </div>
      <div class="search-options d-flex flex-row mb-3">
        <input type="radio" class="btn-check" name="filter" id="track" autocomplete="off" checked>
        <label class="btn btn-secondary filter col-4" for="track">Tracks</label>
        <input type="radio" class="btn-check" name="filter" id="album" autocomplete="off">
        <label class="btn btn-secondary filter col-4" for="album">Albums</label>
        <input type="radio" class="btn-check" name="filter" id="artist" autocomplete="off">
        <label class="btn btn-secondary filter col-4" for="artist">Artists</label>
        <input type="checkbox" class="btn-check" id="saved" autocomplete="off">
        <label class="btn btn-secondary filter" for="saved">Saved</label>
        <div class="col"></div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="left-scores col-lg-6 d-none d-lg-block">
      <h2 class="compare-section-title">Your Ratings</h2>
      <div id="user-items" class="saved-scores d-flex flex-column align-items-center mb-3 overflow-auto">
        <!-- Filled in by JS -->
      </div>
      <div id="user-placeholders" class="saved-scores d-flex flex-column align-items-center mb-3 overflow-auto">
        {% for i in range(12) %}
        <div class="item placeholder-glow">
          <div class="item-score col-2 col-lg-1 placeholder"></div>
          <img src="..." class="item-img placeholder" alt="...">
          <div class="item-desc col">
            <span class="item-title mt-1 mb-2 placeholder col-7" aria-disabled="true"></span>
            <span class="item-creator mb-0 placeholder col-5" aria-disabled="true"></span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="right-scores col col-lg-6">
      <h2 class="compare-section-title"><span class="friend-name">Friend</span>'s Ratings</h2>
      <div id="friend-items" class="saved-scores d-flex flex-column align-items-center mb-3 overflow-auto">
        <!-- Filled in by JS -->
      </div>
      <div id="friend-placeholders" class="saved-scores d-flex flex-column align-items-center mb-3 overflow-auto">
        {% for i in range(12) %}
        <div class="item placeholder-glow">
          <div class="item-score col-2 col-lg-1 placeholder"></div>
          <img src="..." class="item-img placeholder" alt="...">
          <div class="item-desc col">
            <span class="item-title mt-1 mb-2 placeholder col-7" aria-disabled="true"></span>
            <span class="item-creator mb-0 placeholder col-5" aria-disabled="true"></span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='compare_scores.js') }}" type="module"></script>
{% endblock %}