{% extends "base.html" %}

{% block content %}
<div class="page-top container-fluid">
  <div class="row justify-content-center">
    <div class="col col-lg-9 col-xxl-6"> 
      <ul class="tab-nav nav nav-underline nav-justified">
        <li class="nav-item">
          <a class="nav-link" href="/compare_scores">Scores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/compare_stats" aria-current="page">Stats</a>
        </li>
      </ul>
      <div class="friend-select-group input-group">
        <label class="input-group-text" for="friend-select">View Friend</label>
        <select class="form-select" id="friend-select">
          {% if friends == [] %}
          <option value="-1">No friends</option>
          {% else %}
          {% for friend in friends %}
          <a href="/compare_stats?friend_id={{ friend.user_id }}"><option value="{{ friend.user_id }}">{{ friend.username }}</option></a>
          {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>
  </div>
</div>
<!-- MOSTLY A COPY OF STATS.HTML THIS IS A STUPID WAY OF DOING THIS I KNOW-->
<div class="page-content container-fluid">
  <div class="row justify-content-center">
    <div class="col col-lg-9 col-xxl-6">
      <h2 class="mt-4 mb-4 text-center">🎵 Rankd Music Stats</h2>
      <div class="d-flex flex-column gap-4">
        <!-- ITEM SECTION -->
        {% if analysis is not none %}
        {% for title, section in [("Tracks", analysis["tracks"]), ("Albums", analysis["albums"]), ("Artists", analysis["artists"])] %}
        <!-- TOP ITEMS COMPARISON -->
        <div class="comparison shadow-sm">
          <h2 class="comparison-title">Top {{ title }} Comparison</h2>
          {% if section['db_top'] == "" %}
          <p>Please rate more {{title.lower()}} to see your analysis.</p>
          {% elif section['api_top'] == "" %}
          <p>It seems that you don't have any listening history on this acocunt. There is nothing to analyse.</p>
          {% else %}
          <div class="comparison-item">
            <div class="comparison-subtitle col-4">
              <p>Your Pick</p>
            </div>
            <div class="item item-lg item-borderless item-type-{{ section['db_top'].type }} col">
              <img class="item-img" src="{{ section['db_top'].img_url }}" alt="">
              <div class="item-desc">
                <p class="item-title">{{ section['db_top'].title }}</p>
                {% if section['db_top'].type != 'artist' %}
                <p class="item-creator">{{ section['db_top'].creator }}</p>
                {% endif %}
              </div>
            </div>
          </div>
                    
          <div class="comparison-item">
            <div class="comparison-subtitle col-4">
              <p>Spotify Says</p>
            </div>
            <div class="item item-lg item-borderless item-type-{{ section['api_top'].type }} col">
              <img class="item-img" src="{{ section['api_top'].img_url }}" alt="">
              <div class="item-desc">
                <p class="item-title">{{ section['api_top'].title }}</p>
                {% if section['api_top'].type != 'artist' %}
                <p class="item-creator">{{ section['api_top'].creator }}</p>
                {% endif %}
              </div>
            </div>
          </div>
          
          <div class="comparison-result col-12">
            {% if section['db_top'].id == section['api_top'].id %}
              <span class="comparison-badge badge bg-success"><i class="bi bi-check-circle"></i> Perfect Match!</span>
            {% else %}                                                                                                             
              <span class="comparison-badge badge bg-danger"><i class="bi bi-x-circle"></i> No Match</span>                       
            {% endif %}                                                                                                            
          </div>
          {% endif %}
        </div>
        <!-- EXTREMES SECTION -->
        {% if section['high_high'] != "" %}
        <div class="comparison shadow-sm">
          <h2 class="comparison-title">Overrated, Underrated, and Perfectly Rated</h2>
          <p>We looked at your scores and your top {{ title.lower() }} and these were the most extreme results.</p> 
          <div class="comparison-item">
            <div class="comparison-subtitle col-4">
              <p>Highest Rated Most Listened</p>
            </div>
            <div class="item item-lg item-borderless item-type-{{ section['high_high'].type }} col">
              <img class="item-img" src="{{ section['high_high'].img_url }}" alt="">
              <div class="item-desc">
                <p class="item-title">{{ section['high_high'].title }}</p>
                {% if section['high_high'].type != 'artist' %}
                <p class="item-creator">{{ section['high_high'].creator }}</p>
                {% endif %}
              </div>
            </div>
          </div>
          
          <div class="comparison-item">
            <div class="comparison-subtitle col-4">
              <p>Highest Rated Least Listened</p>
            </div>
            <div class="item item-lg item-borderless item-type-{{ section['high_low'].type }} col">
              <img class="item-img" src="{{ section['high_low'].img_url }}" alt="">
              <div class="item-desc">
                <p class="item-title">{{ section['high_low'].title }}</p>
                {% if section['high_low'].type != 'artist' %}
                <p class="item-creator">{{ section['high_low'].creator }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        
          <div class="comparison-item">
            <div class="comparison-subtitle col-4">
              <p>Lowest Rated Most Listened</p>
            </div>
            <div class="item item-lg item-borderless item-type-{{ section['low_high'].type }} col">
              <img class="item-img" src="{{ section['low_high'].img_url }}" alt="">
              <div class="item-desc">
                <p class="item-title">{{ section['low_high'].title }}</p>
                {% if section['low_high'].type != 'artist' %}
                <p class="item-creator">{{ section['low_high'].creator }}</p>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="comparison-item">
            <div class="comparison-subtitle col-4">
              <p>Lowest Rated Least Listened</p>
            </div>
            <div class="item item-lg item-borderless item-type-{{ section['low_low'].type }} col">
              <img class="item-img" src="{{ section['low_low'].img_url }}" alt="">
              <div class="item-desc">
                <p class="item-title">{{ section['low_low'].title }}</p>
                {% if section['low_low'].type != 'artist' %}
                <p class="item-creator">{{ section['low_low'].creator }}</p>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="comparison-item">
            <div class="comparison-subtitle col-4">
              <p>Biggest Outlier</p>
            </div>
            <div class="item item-lg item-borderless item-type-{{ section['outlier'].type }} col">
              <img class="item-img" src="{{ section['outlier'].img_url }}" alt="">
              <div class="item-desc">
                <p class="item-title">{{ section['outlier'].title }}</p>
                {% if section['outlier'].type != 'artist' %}
                <p class="item-creator">{{ section['outlier'].creator }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        
        {% if section['similarity'] != "" %}
        <div class="comparison shadow-sm">
          <h2 class="comparison-title">Scores vs Listening Similarity</h2>
          <p>How much your scores match your top {{ title.lower() }}.</p>
          <div class="percentage-circle mt-2 mb-4" style="background: conic-gradient(gray {{ section['similarity'] }}%, white 0);"></div>
          <div class="text centre fs-4">
            <p>{{ section['similarity'] }}%</p>
          </div>
          {% if section['similarity'] >= 50 %}
          <p>You listen to your highest rated {{ title.lower() }} more than your lowest!</p>
          {% else %}
          <p>You listen to your lowest rated {{ title.lower() }} more than your highest!</p>
          {% endif %}
        </div>
        {% endif %}
        
        {% endfor %}
        
        <!-- GRAPH SECTION -->
        {% for graph in analysis['graphs'][0:4] %} <!-- Genres doesn't look good so removed for now -->
        <div class="comparison shadow-sm">
          <h2 class="comparison-title">{{ graph.title }}</h2>
          <div class="bar-graph">
            {% for label, data, min, max in graph.data %}
            <div class="bar-graph-group">
              <div class="bar-graph-label col-1">{{ label }}</div>
              <div class="bar-graph-bar-container col">
                <div class="bar-graph-bar" style="width:{{100*data/max}}%;"></div> <!-- Ignore what VS Code says, this line is fine-->
              </div>
              <div class="bar-graph-data col-1">{{ data }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}

        <!-- SIMILARITY SECTION -->
        {% if analysis['similarity'] != "" %}
        <div class="comparison shadow-sm">
          <h2 class="comparison-title">Scores vs Listening Temporal Similarity</h2>
            <div class="percentage-circle mt-2 mb-4" style="background: conic-gradient(gray {{ analysis['similarity'] }}%, white 0);"></div>
            <div class="text centre fs-4">
              <p>{{ analysis['similarity'] }}%</p>
            </div>
        </div>
        {% endif %}
        
        {% else %} <!-- This is the else from the top of the page -->
        <p>This friend has no available analysis.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='compare_stats.js') }}" type="module"></script>
{% endblock %}