{% extends "base.html" %}

{% block content %}
<div class="page-content container-fluid">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card mt-3 mb-3">
        <div class="card-body text-center">
          <p class="card-title h2 fw-bold">Rate Your Music!</p>
          <p class="card-text fs-5">Give all of your favourite <span class="fw-bold">tracks, albums, and artists</span> your personal rating.</p>
        </div>
        <div id="carousel0" class="carousel slide" data-bs-theme="dark">
          <div class="carousel-indicators">
            <button type="button" data-bs-target=#carousel0" data-bs-slide-to="0" aria-label="Slide 1" aria-current="true" class="active"></button>
            <button type="button" data-bs-target=#carousel0" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target=#carousel0" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div> <img src="{{ url_for('static', filename='img/front_page/Scores1.png') }}" alt="..."> </div>
            </div>
            <div class="carousel-item">
              <div><img src="{{ url_for('static', filename='img/front_page/Scores2.png') }}" alt="..."></div>
            </div>
            <div class="carousel-item">
              <div><img src="{{ url_for('static', filename='img/front_page/Scores3.png') }}" alt="..."></div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel0" data-bs-slide="prev">
            <i class="bi bi-chevron-left fs-1" aria-hidden="true"></i>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel0" data-bs-slide="next">
            <i class="bi bi-chevron-right fs-1" aria-hidden="true"></i>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="card mt-3 mb-3">
        <div class="card-body text-center">
          <p class="card-title h2 fw-bold">Compare Your Ratings to Your Listening History!</p>
          <p class="card-text fs-5">See the difference between your <span class="fw-bold">ratings and your listening habits</span>.</p>
        </div>
        <div id="carousel1" class="carousel slide" data-bs-theme="dark">
          <div class="carousel-indicators">
            <button type="button" data-bs-target=#carousel1" data-bs-slide-to="0" aria-label="Slide 1" aria-current="true" class="active"></button>
            <button type="button" data-bs-target=#carousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target=#carousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div><img src="{{ url_for('static', filename='img/front_page/Stats1.png') }}" alt="..."></div>
            </div>
            <div class="carousel-item">
              <div><img src="{{ url_for('static', filename='img/front_page/Stats2.png') }}" alt="..."></div>
            </div>
            <div class="carousel-item">
              <div><img src="{{ url_for('static', filename='img/front_page/Stats3.png') }}" alt="..."></div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
            <i class="bi bi-chevron-left fs-1" aria-hidden="true"></i>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
            <i class="bi bi-chevron-right fs-1" aria-hidden="true"></i>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>         
      <div class="card mt-3 mb-3">
        <div class="card-body text-center">
          <p class="card-title h2 fw-bold">Share With Your Friends!</p>
          <p class="card-text fs-5"><span class="fw-bold">Compare your ratings</span> with your friends and see their stats.</p>
        </div>
        <div id="carousel2" class="carousel slide" data-bs-theme="dark">
          <div class="carousel-indicators">
            <button type="button" data-bs-target=#carousel2" data-bs-slide-to="0" aria-label="Slide 1" aria-current="true" class="active"></button>
            <button type="button" data-bs-target=#carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div><img src="{{ url_for('static', filename='img/front_page/Compare1.png') }}" alt="..."></div>
            </div>
            <div class="carousel-item">
              <div><img src="{{ url_for('static', filename='img/front_page/Compare2.png') }}" alt="..."></div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
            <i class="bi bi-chevron-left fs-1" aria-hidden="true"></i>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
            <i class="bi bi-chevron-right fs-1" aria-hidden="true"></i>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>         
    </div>
  </div>
</div>
{% endblock %}